body{
  background-color: black;
  color: white;
}

p{
  margin: 0;
}

.number-button, .operation-button{
  color: white;
  background-color: rgb(60, 60, 60);
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin: 5px;
  font-size: 26px;
  cursor: pointer;
}

.operation-button {
  background-color: orange;
}

.clear-button {
  font-size: 17px;
}

.calculation {
  font-size: 46px;
}